<div class="about-content">
  <p>It is my ambition is to make a contribution towards the responsible and fair use of machine learning algorithms in society at large. Currently, I am pursuing this ambition as a PhD candidate, where I develop methods for making deep learning models more interpretable and robust. Within this, I focus on the issue of spurious correlations. In addition, I am a researcher at <a href="https://algorithmaudit.eu">Algorithm Audit</a>, helping public organisations with the ethical use of algorithms. Please click <a href="https://fholstege.github.io/assets/docs/cv.pdf">here</a> for my CV.</p>

  <p>Before starting my PhD, I graduated Cum Laude with a research masters from the Tinbergen Institute at the intersection of econometrics, machine learning and finance. I have previously graduated Magna Cum Laude from Leiden University with a BSc in Governance, Economics and Development. I also have industry experience at the largest hedge fund in the world (Bridgewater).</p>

  <p>While at University, I was ranked as one of the top 10 university debaters in Europe, and spoke in the finals of the World University Debate Championships</p>
</div>
