<div class="about-content">

  <p  class="top"> Hi there! my name is Floris, and I am a PhD candidate in Machine Learning at the University of Amsterdam </p>  
    
  <p style="margin-bottom: 20px;">My ambition is to make a contribution towards the responsible and fair use of machine learning algorithms in society. Currently, I am pursuing this ambition as a PhD candidate, where I develop methods to prevent deep neural networks from relying on <i>spurious correlations</i>.</p>

  <p style="margin-bottom: 20px;">In addition, I am a researcher at <a href="https://algorithmaudit.eu">Algorithm Audit</a>, helping public organisations with the ethical use of algorithms.</p>

  <p style="margin-bottom: 20px;">In a past life, I was ranked as one of the top 10 university debaters in Europe, and spoke in the finals of the World University Debate Championships. I also have industry experience at the largest hedge fund in the world (Bridgewater).</p>
  

  <p>Click <a href="https://fholstege.github.io/assets/docs/cv.pdf">here</a> for my CV.</p>
</div>
